body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #000!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

/* Style for the footer */
.footer-distributed {
	position: relative;
	width: 100%;
	height: 250px;
	background: #000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	color: #ffffff;
	margin-top: auto;
	border-top: 5px solid #aa2c2f;
	padding: 50px 0 30px;
    margin-top: 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
display: inline-block;
vertical-align: top;
}


.footer-distributed .footer-left {
width: 40%;
margin-left: 30px;
margin-right: 10px;
}


.footer-distributed h3 {
color: #ffffff;
font: normal 36px 'Open Sans', cursive;
margin: 0;
}


.footer-distributed .footer-links {
color: #ffffff;
margin: 20px 0 12px;
padding: 0;
}

.footer-distributed .footer-links a {
display: inline-block;
line-height: 1.8;
font-weight: 400;
text-decoration: none;
color: inherit;
}

.footer-distributed .footer-company-name {
color: #fff;
font-size: 14px;
font-weight: normal;
margin: 0;
}


.footer-distributed .footer-center {
width: 35%;
}

.footer-distributed .footer-center i {
background-color: #fff;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
font-size: 17px;
line-height: 38px;
}

.footer-distributed .footer-center p {
display: inline-block;
color: #ffffff;
font-weight: 400;
vertical-align: middle;
margin: 0;
}

.footer-distributed .footer-center p span {
display: block;
font-weight: normal;
font-size: 14px;
line-height: 2;
}

.footer-distributed .footer-center p a {
color: #fff;
text-decoration: none;
;
}

.footer-distributed .footer-links a:before {
content: "|";
font-weight: 300;
font-size: 20px;
left: 0;
color: #fff;
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}


.footer-distributed .footer-right {
width: 20%;
}

.footer-distributed .footer-company-about {
line-height: 20px;
color: #fff;
font-size: 13px;
font-weight: normal;
margin: 0;
}

.footer-distributed .footer-company-about span {
display: block;
color: #ffffff;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}

.footer-distributed .footer-icons {
margin-top: 25px;
}

.footer-distributed .footer-icons a {
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color: #fff;
border-radius: 2px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}


@media (max-width: 880px) {

.footer-distributed {
	font: bold 14px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: block;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}

.footer-distributed .footer-center i {
	margin-left: 0;
}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	
	40% {
		transform: translateY(-10px);
	}
	
	60% {
			transform: translateY(-5px);
	}
}
	
.footer-left h3 {
	font-family: 'Arial', sans-serif;
	animation: bounce 2s infinite;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	color: #fff;
	letter-spacing: 2px;
	font-size: 30px;
}
	
.footer-left span {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}
